@import '../../Style/Partial/variables'; // Import your variable styles

@include media(mobile) {
  .projects {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@include media(tablet) {
  .projects {
    display: flex;
    flex-direction: row;
  }
}